<div class="container" style="padding: 16px;">
    <h2 class="text-center">Alocação de Droids</h2>
    <form class="form-horizontal" method="post" action="./backend/?r=login">
        <fieldset>

            <!-- Form Name -->
            <legend>Login</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="usuario">Usuário</label>
                <div class="col-md-4">
                    <input id="usuario" name="usuario" type="text" placeholder="" class="form-control input-md"
                        required="">

                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="senha">Senha</label>
                <div class="col-md-4">
                    <input id="senha" name="senha" type="password" placeholder="" class="form-control input-md"
                        required="">

                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="entrar"></label>
                <div class="col-md-8">
                    <button id="entrar" type="submit" name="entrar" class="btn btn-primary">Entrar</button>
                    <a href="?r=cadastro_usuario" id="cadastrar" name="cadastrar">Cadastrar</a>
                </div>
            </div>

        </fieldset>
    </form>

</div>
